<div class="copyright">
    <div class="container">
        <div class="row text-center padding_top padding_bottom text_smaller">
                <a class="margin_right" href="#">COLOO客服</a>
                <a class="margin_right" href="#">新浪导航</a>
                <a class="margin_right" href="#">意见反馈</a>
                <a class="margin_right" href="#">舞弊举报</a>
                <a class="margin_right" href="#">开放平台</a>
                <a href="#">COLOO招聘</a>
        </div>
        <div class="row padding_top padding_bottom text_smaller">
           <p>Copyright&copy; 1994-2016·COLOO 卡拉卡拉网络科技 豫ICP备16038251号 </p>
        </div>

    </div>
</div>