<div class="src">
    <div class="container">
        <div class="row text-center padding_top padding_bottom text_smaller">
            <ul class="col-sm-2 col-sm-offset-2 col-xs-3 text-center">
                <li class="margin_bottom margin_top">
                    <h4>COLOO</h4>
                </li>
                <li><a href="#" class="padding_top padding_bottom">热门文章</a></li>
                <li><a href="#" class="padding_bottom">名人堂</a></li>
                <li><a href="#" class="padding_bottom">微相册</a></li>
                <li><a href="#">微指数</a></li>
            </ul>
            <ul class="col-sm-2 col-xs-3 text-center">
                <li class="margin_bottom margin_top">
                    <h4>手机玩卡拉</h4>
                </li>
                <li><a href="#" class="padding_top padding_bottom"><img src="/img/footer_code.jpg" alt=""></a></li>
            </ul>
            <ul class="col-sm-2 col-xs-3 text-center">
                <li class="margin_bottom margin_top">
                    <h4>认证&合作</h4>
                </li>
                <li><a href="#" class="padding_top padding_bottom">申请认证</a></li>
                <li><a href="#" class="padding_bottom">企业文章</a></li>
                <li><a href="#" class="padding_bottom">卡拉标示</a></li>
                <li><a href="#">卡拉商学院</a></li>
            </ul>
            <ul class="col-sm-2 col-xs-3 text-center">
                <li class="margin_bottom margin_top">
                    <h4>COLOO帮助</h4>
                </li>
                <li><a href="#" class="padding_top padding_bottom">常见问题</a></li>
                <li><a href="#">卡拉服务</a></li>
            </ul>
        </div>
    </div>
</div>
