<section ng-show="user">
    <a href="javascript:void(0)" class="skin_btn" ng-click="showSkin($event)"><img src="/img/changeSkin.png" alt=""></a>
    <section class="skin_bg show_hide">
        <div class="skin container">
            <a href="javascript:void(0)" class="col-xs-4 col-xs-offset-8 text-right color_white text_large margin_top" ng-click="closeSkin($event)">&times;</a>
            <h3 class="col-sm-12 skin_title text-center">请选择你喜欢的颜色背景</h3>
            <div class="col-xs-12">
                <a ng-repeat="skin in skins" class="col-sm-2 col-md-2 col-xs-6 margin_bottom text-center" href="javascript:void(0)" ng-click="selectSkin(skin)">
                    <img class="skin_item" ng-src="{{skin.userBg}}" alt="">
                </a>
            </div>
            <button class="btn btn-warning col-sm-1 col-sm-offset-5 col-xs-offset-4 margin_top margin_bottom" ng-click="sureSkin($event)">确定</button>
            <button class="btn btn-default col-sm-1 margin_top margin_bottom" ng-click="closeSkin($event)">取消</button>
        </div>
    </section>
</section>