<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增皮肤</title>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
</head>
<body>
<form action="/addSkin" method="POST">
    <div class="form-group">
        <label for="bodyBg">bodyBg</label>
        <input type="text" class="form-control" name="bodyBg" id="bodyBg" placeholder="bodyBg">
    </div>
    <div class="form-group">
        <label for="userBg">userBg</label>
        <input type="text" class="form-control" name="userBg" id="userBg" placeholder="userBg">
    </div>
    <div class="form-group">
        <label for="mainBgc">mainBgc</label>
        <input type="text" class="form-control" name="mainBgc" id="mainBgc" placeholder="mainBgc">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Check me out
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>