<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>上传用户上传头像</title>
    <link rel="stylesheet" href="/plugins/jcrop/css/jquery.Jcrop.min.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/plugins/jcrop/js/jquery.Jcrop.min.js"></script>
</head>
<body>
    <p>图片裁剪页面</p>
    <form action="/testGm" method="post" enctype="multipart/form-data">
        <input type="file" name="logo">
        <input type="submit" value="上传">
    </form>
</body>
</html>